# Editor configuration, see http://editorconfig.org
root = true

[*]
indent_size = 4

[{*.yaml, *.yml, *.yml.dist}]
ij_yaml_keep_indents_on_empty_lines = false
ij_yaml_keep_line_breaks = true
ij_yaml_space_before_colon = false
ij_yaml_spaces_within_braces = true
ij_yaml_spaces_within_brackets = true